<h1>Messages</h1>

<% @messages.each do |message| %>
  <p>
    <strong>Content:</strong> <%= message.content %>
    <%= link_to 'Show', message_path(message) %> |
    <%= link_to 'Edit', edit_message_path(message) %> |
    <%= link_to 'Delete', message_path(message), method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>

<h2>User Information</h2>
<p><strong>Email:</strong> <%= @user.email %></p>

<%= link_to 'New Message', new_message_path %> |
<%= link_to 'Logout', logout_users_path %>
