<h1>Messages</h1>

<% @messages.each do |message| %>
  <p>
    <strong>Content:</strong> <%= message.content %>
    <%= link_to 'Show', message_path(message) %> |
    <%= link_to 'Edit', edit_message_path(message) %> |
  </p>
<% end %>


<%= link_to 'New Message', new_message_path %> |
<%= link_to 'Logout', logout_users_path %>
